<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Off" internalLogFile="c:\temp\nlog-internal.log">

  <variable name="methodname" value="${callsite:className=false:includeNamespace=false:includeSourcePath=false:cleanNamesOfAnonymousDelegates=true}" />
  <variable name="standardLayout" value="${longdate}|${level:uppercase=true}|${logger}|${methodname}|${message}" />    
  <variable name="logFilePath" value="CompletedLocations.txt" />
  
  <targets>
    <target xsi:type="File" name="statusLog" layout="${standardLayout}" fileName="${logFilePath}" deleteOldFileOnStartup="true" />
    <target xsi:type="File" name="fileLog" layout="${message}" fileName="ScannedFiles.log" deleteOldFileOnStartup="true" 
            archiveAboveSize="1073741824" 
            archiveNumbering="Sequence" 
            archiveFileName="ScannedFiles_{#}.log" />
    <target xsi:type="File" name="folderLog" layout="${message}" fileName="ScannedFolders.log" deleteOldFileOnStartup="true" />
  </targets>

  <rules>
    <logger name="*" minlevel="Off" writeTo="statusLog" />
    <logger name="fileLogger" minlevel="Trace" writeTo="fileLog" />
    <logger name="folderLogger" minlevel="Trace" writeTo="folderLog" />
  </rules>
</nlog>
